<form class="login-form" [formGroup]="LogInForm">

    <p class="login-text">

      <h2 class="title">Tea With Colleagues</h2>

    <label class="login-labels">Email: </label>

    <input type="email" class="login-email" autofocus="true" required="true"  formControlName="mailAddress" />

    <label class="login-labels">Password: </label>

    <input type="password" class="login-password" required="true"  formControlName="password"/>

    <input type="submit" name="Login" value="Login" class="login-submit" (click)="LoginUser()"/>

  </form>

  <div class="signup">

    <p class="sign-up">Don't have an account?</p>

    <input type="submit" name="Sign-up" value="Sign-up" class="signup-submit" (click)="SignupUser()" routerLink="/sign-up-page"/>

  </div>

  <div class="underlay-photo"></div>

  <div class="underlay-black"></div>