@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.background {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
}

.login_box {
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;

  .logo_title {
    display: grid;
    justify-items: center;

    .leaf {
      width: 4rem;
      height: 4rem;
    }

    .title {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.login_form,
.signup_box {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

.login_labels {
  display: grid;
  gap: 0.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

.input_box {
  display: grid;
  justify-items: center;
  gap: 1rem;

  input {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #fff;
    width: 16rem;
    padding: 0.5rem;
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
    background-color: transparent;

    &:focus,
    &:focus-within,
    &:focus-visible,
    &:active {
      border-radius: 0;
      box-shadow: 0 0.1rem 0 0 #000;
    }

    &::placeholder {
      color: #dddddd;
    }
  }
}

.login_btn {
  padding: 0.5rem;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  border: 0;
  background-color: transparent;
  transition: all 0.5s;
  border-block: 1px solid #fff;

  &:hover,
  &:focus,
  &:focus-within {
    letter-spacing: 4px;
  }
}

.signup_box {
  .sg_title {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }
}

@media (max-height: 540px) {
  .input_box {
    display: flex;
  }

  .login_box {
    .logo_title {
      .leaf {
        width: 2rem;
        height: 2rem;
      }

      .title {
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
  }
}