@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

dialog {
    width: 50vw;
    height: 50vh;
    border: 1px solid #fff;
    padding: 30px;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    backdrop-filter: blur(1rem);
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    z-index: 100;
}

.form_edit,
.certer_box {
    display: grid;
    justify-items: center;
}

.edit_btn {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    border: 1px solid #fff;
    margin-right: 1rem;
    margin-top: 2rem;
    padding: 0.5rem 0.5rem;
    background-color: transparent;
}

h5{
    margin-top: 10rem;
}

.label_edit {
    display: grid;
    font-size: 1rem;

    input {
        width: 14rem;
        background-color: transparent;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        border: 1px solid #fff;
        padding: 0.5rem;
    }
}

.main_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "Poppins", sans-serif;
}

.main_title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
}

.background {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
}

.schedule_btn {
    background-color: #1a252f;
    color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.4em 0.65em;
    text-align: center;
    cursor: pointer;
    background: none;
    border: none;
}

.heading_box {
    display: grid;
}

.buttons_extra {
    display: flex;
    gap: 1rem;
    width: 48.5vw;
    justify-content: center;

    button {
        backdrop-filter: blur(1rem);
        font-family: "Poppins", sans-serif;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 0.8rem;
        font-weight: 400;
        padding: 0.4em 0.65em;
        text-align: center;
        cursor: pointer;
    }
}