@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.header {
  display: flex;
  gap: 0.5rem;
  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

.background {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: auto;
  background: rgba(0, 0, 0, 0.45);
}
.signup_form {
  display: grid;
  gap: 1rem;
  justify-items: start;

  label {
    display: grid;
    gap: 0.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
  }
  input {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #fff;
    width: 16rem;
    padding: 0.5rem;
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
    background-color: transparent;

    &:focus,
    &:focus-within,
    &:focus-visible,
    &:active {
      border-radius: 0;
      box-shadow: 0 0.1rem 0 0 #000;
    }

    &::placeholder {
      color: #dddddd;
    }
  }
}

.signup_btn {
  place-self: center;
  padding: 0.5rem;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 1px;
  border: 0;
  background-color: transparent;
  transition: all 0.5s;
  border-block: 1px solid #fff;

  &:hover,
  &:focus,
  &:focus-within {
    letter-spacing: 4px;
  }
}
