<form class="submit-form" [formGroup]="SignUpForm">

    <h2 class="title">SignUp Here</h2>

    <label class="label"> Name: </label>

    <input class="input" type="text" style="border-radius: 15px;" formControlName="name" />



    <label class="label mt-3"> Surname: </label>

    <input class="input" type="text" style="border-radius: 15px;" formControlName="surname" />



    <label class="label"> Email: </label>

    <input class="input" type="text" style="border-radius: 15px;" formControlName="mailAddress" />



    <label class="label"> Password: </label>

    <input class="input" type="password" style="border-radius: 15px;" formControlName="password" />



    <label class="label"> Phone Number: </label>

    <input class="input" type="text" style="border-radius: 15px;" formControlName="phoneNumber" />



    <button class="button-signup" type="submit" (click)="SignUpUser()" >Sign-up</button>



    <div class="goback">

    <h2 class="title">Or maybe</h2>

    <button class="button-goback" type="submit" (click)="GoBack()" >Go back</button>

</div>

</form>

<div class="underlay-photo"></div>

<div class="underlay-black"></div>